apiVersion: v1
kind: Service
metadata: 
  name: helloworld-service
  namespace: lagom-services
  labels: 
    app: helloworld-service
    role: service
    tier: backend  
spec:
  ports: 
  - name: bot
    port: 9000
    targetPort: 9000
    nodePort: 30004
    protocol: TCP
  selector:
    app: helloworld-service
    role: service
    tier: backend  
  type: NodePort

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: helloworld-service
  namespace: lagom-services
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: helloworld-service
        role: service
        tier: backend
    spec:
      containers:
      - name: helloworld-service
        image: docker.io/alexray/helloworldservice:0.0.17-SNAPSHOT
        env:
        - name: SERVICE_LOCATOR_ADDRESS
          value: "http://lagom-kube-service-register.tools:8000"
        - name: SERVICE_HOST
          value: "helloworld-service.lagom-services"
        - name: NEW_RELIC_LICENSE_KEY
          value: {{new_relic_token}}             