apiVersion: v1
kind: Service
metadata: 
  namespace: tools
  name: lagom-kube-service-register
  labels: 
    app: service-register
    role: register
    tier: backend
spec:
  ports: 
  - name: gateway
    port: 9000
    targetPort: 9000
    nodePort: 30002
  - name: register
    port: 8000
    targetPort: 8000
    nodePort: 30001
  selector:
    app: service-register
    role: register
    tier: backend
  type: NodePort

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: tools
  name: lagom-kube-service-register
spec:
  replicas: 1
  template:
    metadata:
      labels: 
        app: service-register
        role: register
        tier: backend
    spec:
      containers:
      - name: service-register
        image: {{lagom_sr_image}}
        env:
          - name: NEW_RELIC_LICENSE_KEY
            value: {{new_relic_token}} 
          - name: CASSANDRA_CONNECTION_IP
            value: "cassandra.tools"  