apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  name: {{cluster_name}}
spec:
  api:
    dns: {}
  authorization:
    alwaysAllow: {}
  channel: stable
  cloudProvider: aws
  configBase: {{state_store}}/{{cluster_name}}
  dnsZone: {{cluster_name}}
  etcdClusters:
  - etcdMembers:
    - instanceGroup: "master-{{aws_zone}}"
      name: a
    name: main
  - etcdMembers:
    - instanceGroup: "master-{{aws_zone}}"
      name: a
    name: events
  kubernetesApiAccess:
  - 0.0.0.0/0
  kubernetesVersion: 1.5.4
  masterPublicName: "api.{{cluster_name}}"
  networkCIDR: 172.20.0.0/16
  networking:
    kubenet: {}
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 0.0.0.0/0
  subnets:
  - cidr: 172.20.32.0/19
    name: {{aws_zone}}
    type: Public
    zone: {{aws_zone}}
  topology:
    dns:
      type: Public
    masters: public
    nodes: public

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: {{cluster_name}}
  name: "master-{{aws_zone}}"
spec:
  image: kope.io/k8s-1.5-debian-jessie-amd64-hvm-ebs-2017-01-09
  machineType: {{master_size}}
  maxSize: {{master_count}}
  minSize: 1
  role: Master
  rootVolumeSize: {{master_rootVolumeSize}}
  rootVolumeType: gp2
  subnets:
  - {{aws_zone}}


---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: {{cluster_name}}
  name: nodes
spec:
  image: kope.io/k8s-1.5-debian-jessie-amd64-hvm-ebs-2017-01-09
  machineType: {{node_size}}
  maxSize: {{node_count}}
  minSize: 1
  role: Node
  rootVolumeSize: {{node_rootVolumeSize}}
  rootVolumeType: gp2
  subnets:
  - {{aws_zone}}
